@import "text-styles.scss";
button {
   border: none;
   cursor: pointer;
}

.small-bt {
   // @include p-small;
   @include p-small;
   display: inline-block;
   width: 118px;
   height: 34px;
   background-color: white;
   border-radius: 10px;
   text-align: center;
   line-height: 34px;
   white-space: nowrap;
   overflow: hidden;
}

.text-bt {
   position: relative;
   display: inline-block;
   @include p-big;
   width: 199px - 20px;
   height: 42px;
   background-color: rgba(255, 255, 255, 0);
   border-radius: 50px;
   padding-left: 20px;
   margin-left: -20px;
   line-height: 42px;
   color: white;
   white-space: nowrap;
   overflow: hidden;

   &::after {
      content: url('../img/arrow.svg');
      position: absolute;
      right: 21px;
      top: 2px;
      margin-left: 16px;
   }
}

.big-bt_dark {
   display: inline-block;
   @include p-normal;
   color: white;
   width: 235px;
   height: 58px;
   background-color: $green400;
   border-radius: 10px;
   text-align: center;
   line-height: 58px;
   white-space: nowrap;
   overflow: hidden;
}

.big-bt_light {
   display: inline-block;
   @include p-normal;
   color: $green400;
   width: 235px;
   height: 58px;
   background-color: $green100;
   border-radius: 10px;
   text-align: center;
   line-height: 58px;
   white-space: nowrap;
   overflow: hidden;
}

.socials-bt {
   position: relative;
   display: inline-block;
   @include p-normal;
   background-color: $black transparent;
   line-height: 142%;
   color: white;
   white-space: nowrap;
   overflow: hidden;
   border-bottom: 1px solid transparent;
}

// ховеры только для десктопов
@media screen and(min-width: 1025px){

   .small-bt {
      &:hover {
         background-color: $orange200;
         color: white;
         cursor: pointer;
      }
   
      &:active {
         background-color: $orange100;
         color: $black;
      }
   }
   
   .text-bt {
      &:hover {
         background-color: $green400;
         cursor: pointer;
      }
   
      &:active {
         background-color: $orange200;
      }
   }
   
   .big-bt_dark {
      &:hover {
         background-color: $green300;
         cursor: pointer;
      }
   
      &:active {
         background-color: $green200;
      }
   }
   
   .big-bt_light {
      &:hover {
         background-color: $gray100;
         cursor: pointer;
      }
   
      &:active {
         background-color: $gray200;
      }
   }
   
   .socials-bt {
      &:hover {
         cursor: pointer;
         border-bottom: 1px solid white;
      }
   
      &:active {
         color: $orange200;
         border-bottom: 1px solid $orange200;
      }
   }

}

// для экранов <= 360px
@media screen and(max-width: 360px) {
   .small-bt {
      @include m-p-small;
      width: 114px;
      height: 33px;
      line-height: 33px;
}
.text-bt {
   @include m-p-big;
   width: 123px;
   height: 26px;
   line-height: 26px;
   color: white;

   &::after {
      right: 1px;
      top: 3px;
      margin-left: 15px;
   }
}

.big-bt_dark {
   @include m-p-normal;
   color: white;
   width: 134px;
   height: 47px;
   line-height: 47px;
}

.big-bt_light {
   @include m-p-normal;
   width: 134px;
   height: 47px;
   line-height: 47px;
}

.socials-bt {
   @include m-p-normal;
}

}