// Библиотека цветов
$black:#1B1F2B;
$orange200:#EFA501;
$green400: #286562;
$gray300: #A6A6A6;
$beige200: #F4F0E9;
$orange100: #F8E6BE;
$green300: #3B7E7B;
$gray200: #D9DFDB;
$beige100: #F9F7F4;
$green200:#627F7E;
$gray100: #F1F3F2;
$green100:#E0F0E5;